<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejercicio 02</title>
    <script src="../Scripts/js-02.js"></script>
</head>
<body>
    <header>
        <h3>
            Cree una página que muestre, a través de un Array, los nombres de los meses de un año y 
            el número al que ese mes corresponde. Utilizar una estructura repetitiva para escribir 
            en el documento (document.write())
        </h3>
    </header>
    <section>
        <article id="articulo">

        </article>
    </section>
</body>
</html>