<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src = "./js/post.js"></script>
</head>

<body>
<form>
    <fieldset>
        <legend>Login:</legend>
        Email: <br/>
        <input id="mail" type="text" name="txtMail"/><br/>
        Contraseña: <br/>
        <input id="pass" type="password" name="txtPass"/><br/>
        <input type="button" id="btnSingIn" value="Sing in"  />
		<input type="checkbox" name="cbRecordar" checked/>Recordar contraseña<br/>             
    </fieldset>

</form>
    
</body>

</html>